[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pipenv-setup = "*"

[packages]
dwdweather2 = "*"
plotly = "*"
dash = "*"
dash-bootstrap-components = "*"

[requires]
python_version = "3.6"
